#body1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left {
  padding-left: 130px;
  padding-top: 150px;
}


#heading h1{
  font-size: 65px;
  font-weight: 300;
}

#desc {
  margin-bottom: 20px;
}

#terms {
  color: #B6B6B6;
}
#right {
}

#platforms {
  color: #00FFBC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  padding-left: 30px;
}